

/* ===== Primary Styles ========================================================
   Author: Harris Novick
   ========================================================================== */

html {
	height: 100%;
	background: #fff url(../img/sapling/footer-bkgd.png) bottom repeat-x;
}

body {
	background: transparent url(../img/sapling/header.png) repeat-x;
}

.navbar-fixed-top .navbar-inner {
	padding: 0;
}

@media (max-width: 979px) and (min-width: 768px) {
	.container, 
	.navbar-fixed-top .container, 
	.navbar-fixed-bottom .container {
		width: auto;
		padding: 0 20px;
	}
	.navbar-fixed-top .container {
		padding: 0;
	}
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top {
    position: static;
    margin-bottom: 6px;
  }
}

.navbar-inner {
  background: transparent;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar .brand {
	padding: 14px 20px 12px;
}

.navbar .btn,
.navbar .btn-group {
	margin: 13px 20px 12px 0;
}

footer .copyright a {
	color: inherit;
}

footer .copyright a:hover {
	color: #005580;
	text-decoration: none;
}








